@use "./assets/scss/variables/" as *;
@use "./assets/scss/function/" as *;
@use "./assets/scss/reset" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Products區 */
/* Products置頂列 */
.products-topbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;

  .tab-main {
    display: flex;
    align-items: center;
    column-gap: 42px;

    .tab-item {
      padding: 12px 0 8px 0;
      border-bottom: solid 4px transparent;
      font-size: 15px;
      font-weight: 300;
      line-height: 18.15px;
      color: map-get($color, gray3);
      transition: .15s ease-out;

      &.active {
        font-weight: 600;
        color: map-get($color, deep);
        border-color: map-get($color, deep);
      }
    }
  }
}

.go-back-btn {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  @include bgCCN("./assets/images/arrow-right.svg");
}

/* 商品卡片列表 */
.products-wrap {
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding-top: 4px;
  }
}

/* 商品卡片 */
.product-card {
  &.in-cart {
    .card-body {
      background-color: map-get($color, gray5);

      .content {
        .start-box {
          .name-box {
            .product-id {
              color: map-get($color, gray2);
            }

            .product-name {
              color: map-get($color, light);
            }
          }
        }

        .end-box {
          .product-size {
            color: map-get($color, gray2);
          }

          .product-price {
            color: map-get($color, light);
          }
        }
      }
    }



  }

  .card-body {
    position: relative;
    width: 356px;
    display: flex;
    border-radius: 10px;
    padding: 16px;
    column-gap: 16px;
    background-color: map-get($color, light);
    @include shadow01;
    transition: .15s ease-out;
    // animation-timing-function: ease-out;
    // animation-duration: 150ms;


    .pic {
      width: 100px;
      height: 100px;
      border-radius: 9px;

      &.blank-pic {
        background-color: map-get($color, gray2);
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .start-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .name-box {
          display: flex;
          flex-direction: column;
          row-gap: 3px;

          .product-id {
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.05em;
            color: map-get($color, gray5);
          }

          .product-name {
            font-size: 15px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.05em;
            color: map-get($color, deep);
          }
        }

        .tag {
          font-size: 12px;
          font-weight: 400;
          line-height: 14.52px;
          padding: 2px 7px;
          border-radius: 3px;
          background-color: map-get($color, gray2);
          color: map-get($color, gray5);
        }
      }

      .end-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .product-size {
          font-size: 10px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.05em;
          color: map-get($color, gray5);
        }

        .product-price {
          font-size: 12px;
          font-weight: 400;
          line-height: 14.52px;
        }
      }
    }

    .amount-indicator {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
      font-weight: 500;
      line-height: 42.36px;
      letter-spacing: 0.02em;
      color: map-get($color, light);
    }
  }

  .inner-menu {
    display: flex;
    // 現在使用的套件會自動加上display:none
    // display: none;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 0 0 10px 10px;
    background: map-get($color, gray1);
    transition: .15s ease-out;

    .amount-ctrl-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;

      .minus-btn {
        width: 22.25px;
        height: 22.25px;
        @include bgCCN("./assets/images/minus-icon.svg");
        transition: .15s ease-out;

        &:hover {
          background-image: url(./assets/images/minus-icon-hover.svg);
        }
      }

      .plus-btn {
        width: 22.25px;
        height: 22.25px;
        @include bgCCN("./assets/images/plus-icon.svg");
        transition: .15s ease-out;

        &:hover {
          background-image: url(./assets/images/plus-icon-hover.svg);
        }
      }

      .amount {
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        color: map-get($color, deep);
      }
    }

    .add-to-cart-btn {
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding: 6px 12px;
      border-radius: 13px;
      background-color: map-get($color, gray5);

      .cart-icon {
        width: 13px;
        height: 14px;
        @include bgCCN("./assets/images/cart-icon.svg");
      }

      .text {
        font-size: 9px;
        font-weight: 500;
        line-height: 10.89px;
        color: map-get($color, light);
      }
    }
  }

  &.unfold {
    .card-body {
      border-radius: 10px 10px 0 0;
    }

    // 現在使用的套件會自動加上display:none
    // .inner-menu {
    //   display: flex;
    // }
  }
}

/* 購物車資訊面板 */
.products-wrap {
  .products-cart-borad {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;

    .amount-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1.05;
      padding: 17px 15px;
      background-color: map-get($color, light);

      .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
      }

      .end-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .cart-icon {
          width: 19px;
          height: 19px;
          @include bgCCN("./assets/images/cart-icon-deep.svg");
        }

        .amount {
          transform: translateY(5px);

          .num {
            font-size: 35px;
            font-weight: 500;
            line-height: 42.36px;
            margin-right: 9px;
          }

          .unit {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
          }
        }
      }
    }

    .price-box {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      background-color: map-get($color, light);
      flex: 1;

      .jpy-box,
      .ntd-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        flex: 1;
        background-color: map-get($color, gray1);

        .unit {
          font-size: 12px;
          font-weight: 500;
          line-height: 14.52px;
        }

        .price {
          font-size: 15px;
          font-weight: 400;
          line-height: 18.15px;
        }
      }

      // .ntd-box {
      //   background-color: map-get($color, gray1);
      // }
    }

    .go-cart-page-btn {
      flex: 1;
      background-color: map-get($color, gray5);
      color: map-get($color, light);
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }
  }

}